# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

**Objectives:** 
- List popular languages for Data Science
- List libraries use by Data Scientists
- Make arithmetic funtions
- Make a table

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
-----------------------
| VS Code |
| GitLab  |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply the add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author

Sofia Lebron